.header_up {
    display: flex;
}

.header_up .header_left {
    width: 30%;
    background: aliceblue;
}

.header_up .header_left h3 {
    padding: 25px 30px;
    color: #e07a00;
    font-weight: bold;
    font-size: 25px;
}

.header_up .header_right {
    width: 70%;
    background: antiquewhite;
}

.header_up .header_right p {
    margin-top: 30px;
    margin-left: 80%;
    color: #e07a00;
}

.header_up .header_right p a {
    text-decoration: none;
    color: #e07a00;
}

.header_down #menu {
    display: flex;
}

.header_down #menu li {
    background: #ab0000;
    color: #fff;
    width: 16.6%;
    padding: 13px 30px;
    border-right: 1px solid #fff;
}

.header_down #menu li:last-child {
    border: none;
    background: #e07a00;
}

.coffee_slider .slider img {
    max-width: 68%;
    display: block;
}

.coffee_content .content {
    background: antiquewhite;
}

.coffee_content .content h4 {
    color: #e27f09;
    padding: 30px 45px;
    font-size: 35px;
}

.coffee_content .content p {
    padding: 0px 45px;
    font-style: oblique;
}

.coffee_content .content button {
    margin-left: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
    background: #bd7e0a;
    border: none;
    border-radius: 15px;
    padding: 13px 20px;
}

#coffee_title {
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 30px;
    color: #b96501;
}

.coffee_order .order_list {
    display: flex;
}

.coffee_order .coffee_list .order {
    margin: 0 2%;
}

.coffee_order .order_list .order img {
    max-width: 95%;
}

.order_text h4 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    color: #b96501;
}

.order_text p {
    font-style: oblique;
    line-height: 25px;
}

.order_text button {
    margin-top: 15px;
    margin-left: 35%;
    margin-right: 50%;
    color: #fff;
    background-color: orange;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

.coffee_background {
    margin-top: 20px;
    height: 160px;
    background-image: url('../img/coffee-beans-on-sackcloth-for-background-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.coffee_plans {
    display: flex;
    background-color: #e0960f;
}

.coffee_plans_left {
    width: 45%;
}

.coffee_plans_right {
    width: 54%;
}

.coffee_plans_right img {
    max-width: 100%;
    display: block;
}

.coffee_plans_left h4 {
    text-align: center;
    padding: 30px 0 20px;
    color: white;
    font-size: 30px;
}

.coffee_plans_left p {
    width: 65%;
    margin-left: 20%;
    font-style: oblique;
    color: white;
    line-height: 22px;
}

.footer {
    background-color: #ab0909;
    padding: 45px;
}

.footer_social_menu {
    margin-left: 40%    ;
}

#social_menu {
    display: flex;
}

#social_menu li {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.footer_text {
    margin-left: 41%;
    margin-top: 10px;
}

.footer_text p {
    font-size: 25px;
    color: white;
    font-style: oblique;
}

#social_menu li:hover {
    color: rgb(13, 13, 223);
    background-color: bisque;
}